server:
    socket: /var/run/campaner.sock
    confirmation: XXXXXXXX

log:
    prod: true

api:
    token: XXX

db:
  name: campanerdb
  user: campaner
  password: "1234"
  host: localhost
  port: 5432